<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <true/>
    </dict>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>수업 필기 사진을 가져오기 위해 접근합니다</string>
    <key>NSCameraUsageDescription</key>
    <string>필기를 촬영하기 위해 카메라를 사용합니다</string>
</dict>
</plist>
